@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
			url('fonts/Raleway-Light.woff2') format('woff2'),
			url('fonts/Raleway-Light.woff') format('woff'),
			url('fonts/Raleway-Light.ttf') format('truetype'),
			url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Medium.eot');
	src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
			url('fonts/Raleway-Medium.woff2') format('woff2'),
			url('fonts/Raleway-Medium.woff') format('woff'),
			url('fonts/Raleway-Medium.ttf') format('truetype'),
			url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Regular.eot');
	src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
			url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
			url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
			url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplaySC-Bold.eot');
	src: url('fonts/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplaySC-Bold.woff2') format('woff2'),
			url('fonts/PlayfairDisplaySC-Bold.woff') format('woff'),
			url('fonts/PlayfairDisplaySC-Bold.ttf') format('truetype'),
			url('fonts/PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
			url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
			url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
			url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Italic.eot');
	src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
			url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
			url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
			url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-BoldItalic.eot');
	src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
			url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
			url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
			url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Italic.eot');
	src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
			url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
			url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
			url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
			url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

.container {
	max-width: 1240px;
	margin: auto
}

p, ul, li, span, input {
    font-family: Raleway;
}

p {
    font-size: 14px;
  }

header {
	font-family: "Raleway";
}

header .header-top {
    padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}

header .header-bottom {
    padding: 15px 0px;
    border-top: 1px solid #ddd;
}

header .header-top, header .header-bottom {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {font-size: 40px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 16px}


.page-container {

	margin: 0 auto;
}

.page-container div {
	text-align: center;
}

a {
	color: #e2574c;
	text-decoration: none;
}

hr {
	color: gray;
}

header img {
	height: 50px;
}

.banner {
    background: url("images/flower-bkgd.jpg");
	text-align: center;
	height: 400px;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: white;
	position: relative;
}

.banner > div {
	z-index: 1;
}


.banner img {
	height: 100%;
	position: absolute;
}

.banner__sub-heading {
    text-transform: uppercase;
    font-size: 20px;
}

.banner__heading {
    font-size: 60px;
	font-family: "Playfair Display"
}


#about h2 {
	margin: 40px 0 20px;
}

#about p {
	margin: 0 auto;
	max-width: 500px;
	padding-bottom: 40px;
	line-height: 1.5;
}

#shop ul {
	font-family: "Raleway";
}

.product__title {
    margin-bottom: 15px;
}

.product__category {
	margin-bottom: 15px
}

/* #shop li {
	min-height: 300px;
	min-width: 25%;
	display: flex;
    justify-content: center;
	align-items: center;
	background-size: cover;
	color: white;
	font-size: 35px;
	text-shadow: black 0px 1px 1px;
	box-sizing: border-box;
	border: 3px solid;
} 

#shop li:first-child, #shop li:last-child {
	min-width: 50%;
}
*/
.category-group__item {
    height: 40vh;
    background-position: center center;
    min-height: 400px;
	background-size: cover;
	color: white;
	font-size: 35px;
	text-shadow: black 0px 1px 1px;
	border: 3px solid;
	box-sizing: border-box;
	position: relative;
}

.category-group__item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translateY(-50%) translateX(-50%);
    text-transform: uppercase;
}


.category-group {
	position: relative;
	font-size: 0px;
	display: flex;
}


.width-25 {
	flex-basis: 25%;
	font-size: 18px;
}

.width-50 {
	flex-basis: 50%;
	font-size: 18px;
}

.category-group__item.mens-category {
	background-image: url("images/mens-category.jpg");
	border-left: 0;
}

.category-group__item.trends-category {
	background-image: url("images/trends-category.jpg");
}

.category-group__item.glasses-category {
	background-image: url("images/glasses-category.jpg");
	border-right: 0;
}

.category-group__item.sale-category {
	background-image: url("images/sale-category.jpg");
	border-left: 0;
}

.category-group__item.bags-category {
	background-image: url("images/bags-category.jpg");
}

.category-group__item.womens-category {
	background-image: url("images/womens-category.jpg");
	border-right: 0;
}

form.signup-form {
    width: auto;
    display: inline-flex;
}

.signup-form__inner {
    background-color: #fff;
    border-radius: 30px;
    padding: 5px;
}

.signup-form__inner input[type=email] {
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.submit-button {
    background-color: #e2574c;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

nav {
	color: #e2574c;
	display: block;
	justify-content: center;
	text-transform: uppercase;
	margin: 15px;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
	width: 80%;
    margin: 0 auto;
}

nav ul li {
    margin-right: 30px;
}

footer {
	display: flex;
	justify-content: space-between;
	background: #333333;
	padding: 30px;
	color: white;
	margin-top: 6px;
}

h3 {
	font-family: "Playfair Display";
	text-shadow: black 0px 1px 1px;
}

h2 {
	font-family: "Playfair Display";
	text-shadow: black 0px 1px 1px;
}

.contact p {
	text-align:left;
	margin-bottom: 15px;
}

.social {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#featured {
    margin-top: 70px;
    margin-bottom: 70px;
}

#featured ul {
	display: flex;
	justify-content: center;
}

#logo {
	padding: 20px;
}

#updates {
	height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	background-image: url("images/wave-bkgd.jpg");
	background-size: cover;
	background-position: bottom;
	color: white;
}

#updates h2 {
	width: 100%;
	font-size: 30px;
}

add-to-cart-btn {
    background: #333;
    border: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 30px;
    margin-top: 20px;
}

#updates p {
	width: 60%;
	margin: 0 auto;
	padding: 20px 0 20px;
}

@media screen and (min-width: 768px) {
   
	
	.mobile-only {
        display: none !important;
    }
    
    .withborder {
        border-top: 10px #d7d7d7;
	}
	
}

/* This only applies on > 767px devices */

@media screen and (max-width: 767px) {
	
	 .desktop-only {
       display: none !important;
    }

	.category-group__item {
		height: 200px;
		min-height: 200px;
	}

	.width-sm-100 {
		 width: 100%;
	}

	.width-sm-50 {
		width: 50%
	}
	
	.category-group__item {
		display: inline-block
	}
	
	.category-group {
		display: block;
	}


}

@media screen and (min-width: 1240px) {
	
	.page-container {
		width: 100%;
	}
}